@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #0f420b;
  --secondary-color: #ffc135;
  --tertiary-color: #09781e;
  --text-dark: #212529;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font-1: "Alfa Slab One", serif;
  --header-font-2: "Bebas Neue", sans-serif;
  --body-font: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  scroll-behavior: smooth;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

h1, h2, h3, h4 {
  color: var(--primary-color);
  font-family: var(--header-font-1);
}

.section__header {
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px var(--secondary-color);
}

.section__description {
  font-weight: 500;
  color: var(--text-dark);
  line-height: 1.75rem;
  text-align: center;
}

.btn {
  padding: 1rem 1.5rem;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--tertiary-color);
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--primary-color);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

.header {
  background: url("assets/header-bg.png") center/cover no-repeat;
}

.nav {
  position: fixed;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__links {
  list-style: none;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background-color: var(--primary-color);
}

.nav__links a {
  font-weight: 600;
  color: var(--white);
}
.nav__links a:hover {
  color: var(--secondary-color);
}

.order__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

.card {
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  transition: 0.3s;
}
.card:hover {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}
.card img {
  max-width: 250px;
  margin: 0 auto 2rem;
  filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.3));
}

footer {
  background: url("assets/footer-bg.png") center/cover no-repeat;
  text-align: center;
  color: var(--white);
  padding: 20px;
}

.footer__content {
  display: grid;
  gap: 2rem;
}

.footer__links,
.footer__socials {
  display: flex;
  gap: 1rem;
}

.footer__links li {
  font-weight: 500;
}
